<mat-sidenav-container>
    <!-- <mat-sidenav [opened]="openSidenav"> -->
    <mat-sidenav #sidenav role="navigation" >
        <p>I'm the sidenav</p>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <button (click)="openSidenav = true">Show Sidenav</button> -->
        <!-- <button mat-button (click)="sidenav.toggle()">Show Sidenav</button> -->
        <mat-toolbar color="primary">
            <!-- <div fxHide.sm fxHide.md fxHide.lg fxHide.xl> -->
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a routerLink="/">LOGO</a>
            </div>
            <!-- <div fxFlex></div> -->
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/signup">Signup</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/training">Training</a></li>
                    <li><a routerLink="/signup">Logout</a></li>
                </ul>     
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
