<!-- <button (click)="openSidenav = true">Show Sidenav</button> -->
<!-- <button mat-button (click)="sidenav.toggle()">Show Sidenav</button> -->
<mat-toolbar color="primary">
  <!-- <div fxHide.sm fxHide.md fxHide.lg fxHide.xl> -->
  <div fxHide.gt-xs>
    <!-- <button mat-icon-button (click)="sidenav.toggle()"> -->
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <!-- <div fxFlex></div> -->
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth" (click)="onLoggedOut()"><a>Logout</a></li>
      <!-- <li *ngIf="isAuth"><a routerLink="/signup">Logout</a></li> -->
    </ul>
  </div>
</mat-toolbar>
