<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field appearance="fill">
          <mat-select
            ngModel
            name="excercise"
            required
            placeholder="Choose Excercise"
          >
            <mat-option
              *ngFor="let excercise of availableExcercisesInFS"
              [value]="excercise.id"
              >{{ excercise.name }}</mat-option
            >
            <!-- <mat-option *ngFor="let excercise of excercises | async" [value]="excercise.id">{{excercise.name}}</mat-option> -->
          </mat-select>

          <!-- <mat-label>Select type of training</mat-label> -->
          <!-- <mat-select placeholder="Select type of training">
                    <mat-option value="crunches">crunches</mat-option>
                    <mat-option value="touch-toes">touch-toes</mat-option>
                    <mat-option value="side-lunges">side-lunges</mat-option>
                    <mat-option value="burpees">burpees</mat-option>
                </mat-select> -->
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          [disabled]="f.invalid"
          mat-raised-button
          color="primary"
          type="submit"
          mat-button
        >
          Start
        </button>
        <!-- <button
            (click)="onStartTraining()" 
            mat-raised-button 
            color="primary" 
            type="submit" 
            mat-button
            >
            Start
        </button> -->
      </mat-card-actions>
    </mat-card>
  </form>
</section>

<!-- <li class="text" *ngFor="let excercises of availableExcerciseInFs | async">
    {{items.name}}
  </li> -->
